* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(189, 187, 187);
}

h1 {
  color: white;
}

h2 {
  font-weight: 900;
  font-size: 48px;
  margin: 0;
  color: white;
}

h3 {
  font-size: 36px;
  font-weight: 900;
}

h5 {
  color: white;
  font-weight: lighter;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1f2937;
  font-size: 24px;
}

.hero {
  display: flex;
  background-color: #1f2937;
  padding: 60px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-text {
  width: 400px;
}

.hero-img {
  height: 250px;
  width: auto;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero button,
.blue-space button {
  background-color: #007aff;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 5px 20px;
  cursor: pointer;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.images {
  display: flex;
  gap: 70px;
}

.info-img img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 5px solid #2c8ff9;
}

.info-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  color: #515252;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
  padding: 100px 300px;
}

.thor {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
}

.blue-space {
  display: flex;
  background-color: #007bff;
  justify-content: space-around;
  align-items: center;
  margin: 100px 150px;
  border-radius: 5px;
  padding: 50px 100px;
}

.blue-text {
  display: flex;
  flex-direction: column;
}

.without-margin-p {
  margin-top: 0;
  color: white;
  font-weight: lighter;
}

.without-margin-h4 {
  margin-bottom: 0;
  color: white;
  font-weight: 900;
  font-size: 24px;
}

.blue-space button {
  border: 2px solid white;
  padding: 10px 40px;
}
